@model IEnumerable<KeeleSystem.Models.Course>

<h2>Keelekursused</h2>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                    <h5 class="card-title">@course.Nimetus</h5>

                    <span class="badge
                    @(course.Tase.StartsWith("A") ? "badge-success" :
                      course.Tase.StartsWith("B") ? "badge-warning" :
                      "badge-danger")">
                        @course.Tase
                    </span>

                    <p class="card-text mt-2">
                        @course.Kirjeldus
                    </p>

                    <small class="text-muted">@course.Keel</small>
                </div>
            </div>
        </div>
    }
</div>
